<% provide(:title, 'Home') %>

<div class="row">
  <div class="col-md-12">
    <h1>Staffnet home</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="span8">
        <%= link_to 'View profile', employee_path(@employee) %>
      </div>
    </div>
  </div>
</div>

