<% provide(:title, "Edit employee") %>
<div class="row">
  <div class="span10 offset1">
    <h1>Edit employee</h1>
    <%= simple_form_for(@employee) do |f| %>

      <%= render "shared/error_messages",
                 object: f.object %>

      <%= render "employee_fields",
                 employee: @employee, f: f  %>

      <%= render "shared/forms/submit_button",
                 f: f %>

    <% end %>
  </div>
</div>
