<% provide(:title, "All employees") %>
<h1>All employees</h1>
<% cache cache_key_for_employees do %>
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Email</th>
      <th>Phone</th>
      <th>City</th>
      <th>Status</th>
      <th></th>
    </tr>
    <%= render "employees", employee_presenters: @employee_presenters %>
  </table>
<% end %>
