<% provide(:title, "All employees") %>
<h1>All employees</h1>
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Email</th>
    <th>Phone</th>
    <th>City</th>
    <th>Status</th>
  </tr>
  <%= render @employees %>
</table>