<% provide(:title, 'New employee') %>
<div class="row">
  <div class="span6 offset3">
    <h1>New employee</h1>
    <%= form_for(@employee) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= render partial: 'employee_fields', locals: { employee: @employee, f: f } %>
        <div class="row">
          <div class="span2">
            <%= f.submit 'New employee', class: 'btn btn-large btn-primary' %>
          </div>
        </div>
    <% end %>
  </div>
</div>