<tr>
  <td><%= supporter_type.name %></td>
  <td><%= supporter_type.number_of_supporters %></td>
  <td class="buttons">
    <%= link_to 'edit', edit_supporter_type_path(supporter_type),
                class: 'btn btn-xs btn-default', role: 'button' %>
  </td>
</tr>