<% provide(:title, 'Edit supporter type') %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Edit supporter type</h1>
    <%= form_for(@supporter_type) do |f| %>
      <div class="row">
        <div class="col-md-12">
          <div class="input">
            <%= f.input :name %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.submit 'Edit supporter type', class: 'btn btn-large btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>