
<div class="row">
  <div class="span4">
    <div class="input">
      <%= f.label :name, 'Task type name' %>
      <%= f.text_field :name %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4">
    <div class="input">
      <%= f.label :desc, 'Description' %>
      <%= f.text_field :desc %>
    </div>
  </div>
</div>