<% provide(:title, 'Edit task') %>
<div class="row">
  <div class="span6 offset3">
    <h1>Edit task</h1>
    <%= simple_form_for(@task) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render partial: 'task_fields', locals: { task: @task, f: f } %>
      <%= render 'shared/forms/submit_button', f: f %>
    <% end %>
  </div>
</div>