<% provide(:title, 'All tasks') %>
<h1>All tasks</h1>
<table class="table table-condensed table-striped">
  <tr>
    <th>Name</th>
    <th>Project</th>
    <th>Hours</th>
    <th>Date</th>
    <th></th>
  </tr>
  <%= render @tasks %>
</table>