// this is rendered after the payment profiles controller create action. It
// inserts the newly-created payment profile into the payment profile select

(function() {

  // hide the new payment profile form, as we no longer need it
  $("#new-payment-profile-fields").collapse("hide");

  // render a flash notification to the user. this function fills the div with
  // content. the function below causes it to be shown to the user
  $("#flash-ajax").html("<%= j render 'shared/forms/payment_profile_alert',
                                                cim_profile: @cim_profile %>");

  // cause the flash div to be shown
  $("#flash-ajax").collapse("show");


  <% if @cim_profile.success  %>

    // prepend the new profile item to the select
    var profileId = <%= @payment_profile.id %>;
    var profileDescription = "<%= @payment_profile.short_version %>";
    $("<%= @current_controller %>_payment_profile_id").prepend(
        $('<option></option>').val(profileId).html(profileDescription)
    );
  <% end %>


  // re-display the new payment profile button
  $("#btn-new-payment-profile").show();
})();
