<div class="form-group row">
  <div class="col-md-10">

    <%= f.input :payment_type,
                as: :select,
                input_html: { id: "payment-type" },
                collection: [["Retry", "retry"],
                             ["Installment", "installment"],
                             ["Refund", "refund"]],
                selected: payment.payment_type %>
    <%= f.input :payment_profile_id,
                as: :select,
                collection: payment_profiles,
                label_method: :short_version,
                include_blank: true,
                selected: payment.payment_profile_id %>

    <%= f.input :notes %>
  </div>
  <div class="col-md-2">

    <%= link_to "New profile", new_supporter_payment_profile_path(supporter),
                class: "btn btn-default btn-xs btn-ajax btn-payment-profile",
                id: "btn-new-payment-profile",
                remote: :true %>
  </div>
</div>
