<td class="buttons"><%= link_to 'details', polymorphic_path(record), class: 'btn btn-mini', type: 'button' %>
  <%= link_to 'edit', polymorphic_path(record, action: :edit), class: 'btn btn-mini', type: 'button'%></td>