
<div class="row">
  <div class="col-md-4">
    <%= f.input :email %>
  </div>
  <div class="col-md-3">
    <div class="select">
      <%= f.input :role,
                  as: :select,
                  collection: [['None', ''],
                               ['Superadmin', 'super_admin'],
                               ['Admin', 'admin'],
                               ['Manager', 'manager'],
                               ['Staff', 'staff'] ],
                  selected: user.role %>
    </div>
  </div>
</div>
