
<div class="row">
  <div class="col-md-4">
    <%= f.input :email %>
  </div>
  <div class="col-md-3">
    <div class="select">
      <%= f.input :role,
                  as: :select,
                  collection: [["None", ""],
                               ["Superadmin", "super_admin"],
                               ["Admin", "admin"],
                               ["Manager", "manager"],
                               ["Staff", "staff"] ],
                  selected: user.role %>
    </div>
  </div>
<% if admin_user? %>
  <div class="col-md-3">
    <div class="select">
      <%= f.input :employee_id,
                  as: :select,
                  collection: Employee.active,
                  label_method: :full_name,
                  value: :id,
                  selected: user.employee_id %>
    </div>
  </div>
  <% end %>
</div>
