<% provide(:title, 'All users') %>
<h1>All users</h1>
<table class="table table-hover">
  <tr>
    <th>Email</th>
    <th>Role</th>
    <th>Created</th>
    <th>Updated</th>
    <th></th>
  </tr>
  <%= render @users %>
</table>