<% provide(:title, "Payrolls") %>
<h1>All payrolls</h1>
<% cache cache_key_for_payrolls do %>
  <table class="table table-hover">
    <tr>
      <th>End date</th>
      <th>Total checks</th>
      <th>Total shifts</th>
      <th>CV shifts</th>
      <th>Office shifts</th>
      <th>Fundraising</th>
      <th>Deposit</th>
      <th></th>
    </tr>
    <%= render "payrolls", payroll_presenters: @payroll_presenters %>
  </table>
<% end %>