<div class="col-md-12 row" id="donation-payments">
  <div class="table-header">
    <h4 class="table-title-right">Installment batches</h4>
  </div>
  <%= render "shared/profiles/deposit_batch_listing", deposit_batches: deposit_batches %>
</div>
