<% provide(:title, "Installments") %>
<h1>Installments</h1>
<div class="cold-md-12 row record-display">
  <div class="col-md-4 record-column">
    <table>
      <tr>
        <th>Total sustainers</th>
        <td><%= Supporter.current_sustainers.count %></td>
      </tr>
      <tr>
        <th>Sustaining donations</th>
        <td><%= Donation.sustaining_donations.count %></td>
      </tr>

    </table>
  </div>
</div>
<hr />
<%= render 'installment_batches', deposit_batches: @deposit_batches %>