<% data_report_presenters.each do |presenter| %>
  <%= cache ["v1", presenter.model] do  %>
    <tr>
      <td><%= presenter.human_type_name %></td>
      <td><%= presenter.formatted_created_at %></td>
      <td><%= presenter.file_download_link %></td>
    </tr>
  <% end %>
<% end %>
