<% provide(:title, "New data report") %>
<div class="row">
  <div class="col-md-12">
    <h1>New data report</h1>
    <div id="new-payment-profile-fields" class="collapse"></div>
    <%= simple_form_for @data_report do |f| %>

      <%= render "shared/error_messages",
                 object: f.object %>

      <%= f.input :data_report_type_name,
                  as: :select,
                  collection: [["All supporters", "all_supporters"]] %>

      <%= render "shared/forms/submit_button",
                 f: f %>

    <% end %>
  </div>
</div>
