<% provide(:title, 'All clients') %>
<h1>All clients</h1>
<table class="table table-condensed table-striped">
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Email</th>
    <th>Phone</th>
    <th></th>
  </tr>
  <%= render @clients %>
</table>