<% provide(:title, 'New client') %>
<div class="row">
  <div class="span6 offset3">
    <h1>New client</h1>
    <%= form_for(@client) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= render partial: 'client_fields', locals: { client: @client, f: f } %>
        <div class="row">
          <div class="span2">
            <%= f.submit 'New client', class: 'btn btn-large btn-primary' %>
          </div>
        </div>
    <% end %>
  </div>
</div>