<tr>
  <th>Address</th>
  <td><%= presenter.address1 %></td>
</tr>
<tr>
  <th></th>
  <td><%= presenter.address2 %></td>
</tr>
<tr>
  <th></th>
  <td>
    <%= presenter.formatted_city_state_zip %>
  </td>
</tr>

