<% deposit_batches.each do |deposit_batch| %>
  <tr>
    <td><%= deposit_batch.batch_type.humanize %></td>
    <td><%= deposit_batch.date %></td>
    <td><%= deposit_batch.payments.count %></td>
    <td><%= number_to_currency deposit_batch.payments.sum(:amount) %></td>
    <td></td>
  </tr>
<% end %>
