<table class="table table-hover">
  <tr>
    <th>Type</th>
    <th>Date</th>
    <th>Payments</th>
    <th>Total</th>
    <th>Approved by</th>
    <th></th>
  </tr>
  <%= render "shared/profiles/deposit_batch",
             deposit_batches: @deposit_batches %>
</table>