<div class="span6 padtop">
  <div class="buttons">
    <%= link_to "New #{record_name}", polymorphic_path([record, record_name], action: :new), class: 'btn btn-mini', type: 'button' %>
  </div>
</div>