<% provide(:title, 'New deposit batch') %>
<%= render 'shared/profiles/profile_header', title: 'New deposit batch' %>
<div class="row">
  <div class="span12">
    <div class="row record-display">
      <div class="span4 record-column">
        <table>
          <tr>
            <th>Type</th>
            <td><%= @deposit_batch.batch_type %></td>
          </tr>
          <tr>
            <th>Date</th>
            <td><%= @deposit_batch.date %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<hr />
<%= render 'deposit_batch_payments', payments: @payments %>