<div class="col-md-12">
  <div class='alert alert-success'>
    Merged supporter records
    <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">&times;</button>
  </div>
</div>