<% record.attributes.each do |key, value| %>
  <div>
    <%= label_tag "#{record_type}_#{key}", key.humanize %>
    <%= text_field_tag "#{record_type}_#{key}",  value, class: "dupe-form" %>
  </div>

<% end %>
