<% provide(:title, "Resolve duplicates") %>
<h1>Resolve duplicates</h1>
<div class="row">
  <div class="col-md-12">
    <% @record_presenters.each do |presenter| %>
      <%= render "compare_records", presenter: presenter %>
    <% end %>
    <%= will_paginate @record_presenters %>
  </div>
</div>
