<% provide(:title, 'Edit shift') %>
<div class="row">
  <div class="span8 offset2">
    <h1>Edit shift</h1>
    <%= form_for(@shift) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render partial: 'shift_fields', locals: { shift: @shift, f: f } %>
      <div class="row">
        <div class="span8">
          <%= f.submit 'Edit shift', class: 'btn btn-large btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
