<% provide(:title, "Edit shift") %>
<div class="row">
  <div class="col-md-12">
    <h1>Edit shift</h1>
    <%= simple_form_for(@shift) do |f| %>
      <%= render "shared/error_messages",
                 object: f.object %>
      <%= render "shift_fields",
                 shift: @shift,
                 f: f %>
      <%= render "shared/forms/submit_button",
                 f: f %>
    <% end %>
  </div>
</div>
