<% provide(:title, 'All shifts') %>
<h1>All shifts</h1>
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Hours</th>
    <th>Type</th>
  </tr>
  <%= render @shifts %>
</table>
<%= will_paginate %>