<% provide(:title, "All shifts") %>
<h1>All shifts</h1>
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Hours</th>
    <th>Type</th>
    <th>Fundraising</th>
    <th></th>
  </tr>
  <%= render "shifts", shift_presenters: @shift_presenters %>
</table>
<%= will_paginate @shift_presenters %>