<% provide(:title, "All donations") %>
<h1>All donations</h1>
<% cache "ransack-form-v2-#{params[:q]}"  do %>
  <%= render "shared/index/search_fields", search: @search %>
<% end %>
<% if admin_user? %>
<div class="pull-right">
<%= link_to "Export XLS", donations_path({:format => :xls }.merge(params)), :class => "btn btn-info" %>
<p>
</div>
<% end %>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Type</th>
    <th>Source</th>
    <th></th>
  </tr>
  <%= render "donations",
             donation_presenters: @donation_presenters %>
</table>
<%= will_paginate @donation_presenters %>