<% provide(:title, 'All donations') %>
<h1>All donations</h1>
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Type</th>
    <th>Source</th>
  </tr>
  <%= render @donations %>
</table>
<%= will_paginate %>