<% provide(:title, 'New donation') %>
<div class="row">
  <div class="col-md-12">
    <h1>New donation</h1>
    <div id="new-payment-profile-fields" class="collapse"></div>
    <%= simple_form_for([@supporter, @donation]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'donation_fields', supporter: @supporter, donation: @donation, payment: @payment,
                                    payment_fields: true, payment_profiles: @payment_profiles, shifts: @shifts, f: f %>
      <%= render 'shared/forms/submit_button', f: f %>
    <% end %>
  </div>
</div>