<% provide(:title, 'Edit project') %>
<div class="row">
  <div class="span6 offset3">
    <h1>Edit project</h1>
    <%= form_for(@project) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render partial: 'project_fields', locals: { project: @project, f: f } %>
      <div class="row">
        <div class="span2">
          <%= f.submit 'Edit project', class: 'btn btn-large btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>