<% provide(:title, 'New project') %>
<div class="row">
  <div class="span4 offset4">
    <h1>New project</h1>
    <%= simple_form_for(@project) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render partial: 'project_fields', locals: { project: @project, f: f } %>
      <%= render 'shared/forms/submit_button', f: f %>
    <% end %>
  </div>
</div>