
<div class="row">
  <div class="col-md-2">
    <%= render 'shared/forms/payment_fields', payment: payment,
                                              supporter: supporter,
                                              payment_profiles: payment_profiles,
                                              f: f %>
  </div>
</div>