<div class="row">
  <div class="col-md-12">

    <% %w[spouse employer alt_email alt_phone].each do
        |field| %>

      <%= button_tag field.humanize, type: "button",
                     class: "btn btn-default field-toggle",
                     data: { toggle: "collapse",
                             target: "##{field}" } %>

     <% end %>
  </div>
</div>