<% provide(:title, 'All supporters') %>
<h1>All supporters</h1>
<table class="table table-condensed table-striped">
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Type</th>
    <th>Source</th>
    <th></th>
  </tr>
  <%= render @supporters %>
</table>