<% provide(:title, "Sendy lists") %>
<h1>Sendy lists</h1>
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Sendy list ID</th>
    <th>Subscribers</th>
    <th></th>
  </tr>
  <%= render @sendy_lists %>
</table>
