<% provide(:title, 'Shift types') %>
<h1>Shift types</h1>
<table class="table table-condensed table-striped">
  <tr>
    <th>Type</th>
    <th>Number of shifts</th>
    <th></th>
  </tr>
  <%= render @shift_types %>
</table>