<div id="flash">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <span><%= value %></span>
      <button type="button"
              class="close"
              data-dismiss="alert"
              aria-hidden="true">&times;
      </button>
    </div>
  <% end %>
</div>
<div id="flash-ajax"></div>