<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>Evolve</h3>
      </div>
      <div class="col-md-3">
        <h3>My Account</h3>
        <%= link_to 'Home', '/', class: 'nav-link' %><br />
        <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', class: 'nav-link' %>
      </div>
    </div>
  </div>
</footer>